body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1 {
    font-family: cursive;
    font-size: 50px;
    text-align: center;

}

form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.form-div {
    display: table;
    width: 100%;
}

.canvas-like-div {
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: black;
    overflow: auto;
}

.centered-group {
    display: inline-block;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-group button:not(:last-child) {
    border-bottom: none;
}

form {
    display: list-item;
}

input {
    display: block;
}

.menu-button {
    width: 100%;
    background-color: black;
    border-color: white;
    color: white;
}

canvas {
    display: block;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: black;
}

.about-div {
    background-color: white;
}

.about-p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 18px;
}

.about-li {
    font-size: 16px;
}

.gameover-p {
    color: white;
    font-size: 18px;
}

.gameover-returning-p {
    color: white;
    font-size: 12px;
}